/**
 * GENERAL
 */

.hidden {
   display: none !important; 
}

span.view-file-attribute:hover {
    text-decoration: underline;
}
/**
 * JSGRID
 */
.jsgrid-table th.jsgrid-header-sortable {
	padding: 0.75rem 1.5rem;
    text-transform: capitalize;
    letter-spacing: 0;
    border-bottom: 1px solid #e9ecef;
    white-space: nowrap;
    font-weight: 700!important;
    font-size: .80rem!important;
}

.jsgrid-grid-body .jsgrid-table tr.jsgrid-row td, .jsgrid-grid-body .jsgrid-table tr.jsgrid-alt-row td {
    font-size: .80rem!important;
    padding: 0.5em 0.8rem;
}

.jsgrid-table tr.jsgrid-filter-row td input[type=text], .jsgrid-table tr.jsgrid-filter-row td select {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d2d6da;
    appearance: none;
    border-radius: 0.5rem;
    transition: box-shadow 0.15s ease, border-color 0.15s ease;
    border-radius: 0.5rem;
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
    border-left-width: 1px;
}

.jsgrid-grid-body table.jsgrid-table {
    width: 100% !important;
}

/**
 * SWEET ALERT
 */

.swal2-popup .swal2-title {
    font-size: 1.575em;
}

/**
 * DROPZONE
 */

.dropzone {
    text-align: center;
    background-color: #f8f9fa;
    border-color: #d2d6da;
    /*background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;*/
}

.dropzone .dz-preview .dz-progress {
    border: 3px solid #17c1e8;
    background-color: #17c1e8;
    height: 0;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 5px;
    background: #fff;
    border: 1px solid lightgrey;
    border-style: dashed;
}

/**
 * Folder List
 */

#folder_list table tbody tr:hover {
    background-color: #c4e2ff;
}

#folder_list table {
    border-spacing: 0;
}

.edit-folder:hover, .delete-folder:hover, .info-folder:hover {
    color: #67b108 !important;
}

/**
 * SELECT2
*/

#folder_form_modal #modal-form .form-control {
    border-radius: 0 !important;
}

#modal-upload-form .select2-container {
    padding: 0.18rem;
}   

#modal-upload-form .select2-container-multi .select2-choices .select2-search-field input {
    width: 100% !important;
}

/*
* TABLE
*/

#user-access-role .table thead th {
    padding: 0;
}

#user-access-role .table> :not(caption)>*>* {
    padding-left: 0;
}

/**
* PROFILE
*/

#profile .avatar {
    color: #000;
    font-size: 3rem;
}